html {
  font-size: 12px;
  font-family: 'Zalando Sans SemiExpanded', sans-serif;
  background-color: #E3F2FD;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
h1{
  font-size: 108px;
  line-height: 1;
  margin: 0;
  text-align: left;
  text-shadow: 2px 2px 4px;
  color: #151E3F;
}
h2 {
  font-size: 48px;
  margin: 0;
  text-align: left;
  text-shadow: #4C4B63 2px 2px 4px;
  color: #151E3F
}
h3{
  font-size: 30px;
  margin: 0;
  text-shadow: #4C4B63 2px 2px 4px;
  color: #151E3F
}
p {
  font-size: 18px;
  list-style-type: none;
  color: #4C4B63
}

a{
  color:#5386E4;
  text-decoration: none;
}
.navbar {
  list-style-type: none;
  font-size: 18px;
  position: fixed;
  top: 40%;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.navbar:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
.page {
  width: 100%;
  min-height: 100vh;
}
#homepage {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 70%;
}
.nameplate{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: fit-content;
  height: fit-content;
  text-align: left;
  align-items: center;
  padding: 50px;
  border:#5386E4 4px solid;
  border-radius: 100px;
}
.subtitles{
  margin-top: 15px;
  margin-bottom: 0;
}
#about{
  display: grid;
  grid-template-columns: 15% 42% 6% 22% 15%;
  grid-template-rows: 10% 10% 70% 10%;
  align-items: center;
}
.title{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  line-height: 1;
}
.title.about{
  margin-bottom: 50px;
}
.text{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
img {
  border:#5386E4 5px solid;
  border-radius: 8px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 300px;
  height: 300px;
}
#experience{
  display: grid;
  grid-template-columns: 11% 2% 35% 5% 36% 11%;
  grid-template-rows: 10% 10% 70% 10%;
  align-items: center;
}
.experiencetitle{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
}
.skillstitle{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
}
.timeline{
  color: #4C4B63;
  font-size: 12px;
  position: relative;
  list-style-type: none;
  line-height: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.timeline:before{ /* vertical line connecting timeline points */
  background-color: #5386E4;
  width: 2px;
  content: '';
  position: absolute;
  top: 90px;
  bottom: 0px;
  left: 25px;
}
.events {
  position: relative;
}
.event{
  display: flex;
  margin-bottom: 10px;
}
.event .marker {
  fill: #5386E4;
   position: relative;
   left: -20px;
   top: 6px;
}
.event1{
  display: flex;
  margin-bottom: 15px;
}
.event1 .marker {
  fill: #5386E4;
  position: relative;
  left: -20px;
  top: 6px;
}
.event2{
  display: flex;
  margin-bottom: 70px;
}
.event2 .marker {
  fill: #5386E4;
   position: relative;
   left: -20px;
   top: 6px;
}
.job{
  list-style-type: none;
  margin-bottom: 30px;
}
.jobtitle{
  line-height: 1;
  color: #151E3F;
  text-shadow: none;
}
.jobsubtitle{
  line-height: 1;
  font-size: 18px;
  color: #4C4B63;
  margin: 0;
}
.jobdate{
  line-height: 1;
  margin: 0;
  font-size: 24px;
  color: #151E3F;
}
.jobtext{
  font-size: 18px;
  line-height: 1;
  margin-top: 10px;
}
.content{
  font-size: 18px;
  line-height: 1;
}
.skills{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.skill{
  margin-bottom: 15px;
}
.skilltitle{
  font-size: 24px;
  text-shadow: none;
  color:#151E3F;
  margin-bottom: 10px;
}
.icon{
  width: fit-content;
  height: fit-content;
  border: #4C4B63 2px solid;
  border-radius: 8px;
  padding: 5px;
}
#projects{
  display: grid;
  grid-template-columns: 15% 30% 10% 30% 15%;
  grid-template-rows: 10% 10% 30% 10% 30% 10%;
  align-items: center;
}
.projectstitle{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
}